# # Ignore node_modules folder
node_modules/

# # Ignore all log files
# *.log

# # Ignore build directories
# dist/
# build/

# # Ignore Dockerfile and docker-compose files
# # Dockerfile
# # docker-compose.yml

# # Ignore specific files by name
# secret_config.json

# # Ignore all files except for specific ones (like package.json and package-lock.json)
# *
# !package.json
# !package-lock.json

# # Ignore hidden files (e.g., .git or .env files)
# .*
